<div class="row">
  <div class="col justify-content-start">



    <div class="jumbotron">

      <h1>Navbar example</h1>
      <p class="lead">hello there lets talk</p>
      <p>asdasda</p>
      <a class="btn btn-primary" href="#" role="button">Proceed</a>

      <iframe src="/html/twitter.html"></iframe>

    </div>

  </div>
</div>